{% extends "base.twig" %}

{% block content %}
	<main id="show">
        <div class="show-header">
            <div class="bg-image"></div>
            <div class="show-navigation">
                <a href="#" class="prev button">Previous</a>
                <a href="#" class="next button">Next</a>
            </div>
            <div class="content grid">
                <div class="eight column">
                    <h5 class="color-rose-purple">Musical Comedy / Special Shows</h5>
                    <h2 class="color-bloom-red">Cinderella</h2>
                    <p class="meta">Dec 2 - Dec 18</p>
                    <p class="meta">Cantey V. Sutton Theatre (Reserved Seating)</p>
                    <hr class="dash" />
                </div>
                <div class="four column">
                    <a href="#" class="button">Buy Tickets</a>
                </div>
            </div>
        </div>

        <div class="show-content grid">

            <div class="eight column">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam turpis sem, fermentum nec turpis quis, porta tristique ex. Pellentesque elementum dolor eu aliquet condimentum. Sed tincidunt, augue ut rutrum dignissim, felis risus ullamcorper ligula, vitae dignissim magna orci quis tortor.</p>

            <p>Based on the fairy tale by Charles Perrault.</p>
            <p>Adaptation and lyrics by Jim Eiler.</p>
            <p>Music by Jim Eiler and Jeanne Bargy.</p>
            <p>Directed by Rod &amp; Nancy Rich.</p>

            <p>Suspendisse ex mauris, imperdiet vel eleifend id, accumsan non ipsum. Pellentesque malesuada semper feugiat. Suspendisse mi dolor, ultrices eu eros sed, pulvinar semper lacus.</p>

            </div>

            <div class="four column">

                <h4>Ticket Information</h4>

                <p>Ut cursus enim auctor tincidunt venenatis. Praesent purus dui, consectetur vel eleifend vestibulum, elementum ut eros.</p>

                <p>Ut cursus enim auctor tincidunt venenatis. Praesent purus dui, consectetur vel eleifend vestibulum, elementum ut eros.</p>

            </div>
        </div>

        <div class="photo-gallery">
            <header class="bg-bloom-red">
                <a href="#" class="color-white">
                Photo Gallery
                </a>
            </header>
        </div>


    </main>
{% endblock %}