$bloom_red: #DC5E5B;
$cool_grey: #F4F4F4;
$rose_purple: #8D3D66;
$deep_maroon: #5D212B;
$lawn_green: #6BB241;
$breeze_blue: #0260CD;
$summer_yellow: #FBC958;
$mid_gray: #D8D8D8;
$off_black: #1F1F1F;
$white: white;
