$bloom_red: #DC5E5B;
$cool_grey: #F4F4F4;
$rose_purple: #8D3D66;
$deep_maroon: #5D212B;
$lawn_green: #6BB241;
$breeze_blue: #0260CD;
$summer_yellow: #FBC958;
$mid_grey: #D8D8D8;
$off_black: #1F1F1F;
$white: white;

.bg-bloom-red{      background: $bloom_red; }
.bg-cool-grey{      background: $cool_grey; }
.bg-rose-purple{    background: $rose_purple; }
.bg-deep-maroon{    background: $deep_maroon; }
.bg-lawn-green{     background: $lawn_green; }
.bg-breeze-blue{    background: $breeze_blue; }
.bg-summer-yellow{  background: $summer_yellow; }
.bg-mid-grey{       background: $mid_grey; }
.bg-off-black{      background: $off_black; }

.color-bloom-red{      color: $bloom_red; }
.color-cool-grey{      color: $cool_grey; }
.color-rose-purple{    color: $rose_purple; }
.color-deep-maroon{    color: $deep_maroon; }
.color-lawn-green{     color: $lawn_green; }
.color-breeze-blue{    color: $breeze_blue; }
.color-summer-yellow{  color: $summer_yellow; }
.color-mid-grey{       color: $mid_grey; }
.color-off-black{      color: $off_black; }
.color-white{          color: $white; }