h1{
  font-size: em(60);
  // font-family: 
}

h2{
  font-size: em(36);
  // font-family: 
}

h3{
  font-size: em(26);
  // font-family:
}

h4{
  font-size: em(20);
  // font-family: 
  text-transform: uppercase;
}

h5{
  font-size: em(16);
  // font-family: 
  text-transform: uppercase;
}

h6{
  font-size: em(16);
}

h7{
  font-size: em(16);
}

p{
  font-size: em(16);

  + p{
    margin-top: 1em;
  }
}

a{
  text-decoration: none;
}

.quote{
  font-size: em(36);
}