<footer class="site-footer">

    <nav class="footer-nav grid">
        <ul class="three column">
            <li class="col-container">
                <a href="#" class="col-head">Shows and Events</a>
                <ul>
                    <li><a href="#">Photo Gallery</a></li>
                    <li><a href="#">Membership</a></li>
                    <li><a href="#">Archive</a></li>
                </ul>
            </li>
            <li class="col-container">
                <a href="#" class="col-head">Classes</a>
                <ul>
                    <li><a href="#">For kids</a></li>
                    <li><a href="#">For schools</a></li>
                    <li><a href="#">For adults</a></li>
                </ul>
            </li>
        </ul>

        <ul class="three column">
            <li class="col-container">
                <a href="#" class="col-head">Get Involved</a>
                <ul>
                    <li><a href="#">Volunteers</a></li>
                    <li><a href="#">Auditions</a></li>
                </ul>
            </li>
            <li class="col-container">
                <a href="#" class="col-head">About</a>
                <ul>
                    <li><a href="#">Our staff</a></li>
                    <li><a href="#">Our sponsors</a></li>
                </ul>
            </li>
        </ul>

        <ul class="three column">
            <li class="col-container">
                <a href="#" class="col-head">Visit Us</a>
                <ul>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Rose Garden</a></li>
                    <li><a href="#">Reserve Space</a></li>
                    <li><a href="#">Accessibility</a></li>
                </ul>
            </li>
        </ul>

        <ul class="three column">
            <li class="col-container">
                <a href="#" class="col-head">FAQ</a>
            </li>
            <li class="col-container">
                <a href="#" class="col-head">Connect</a>
                <ul>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">YouTube</a></li>
                </ul>
            </li>
        </ul>

        <p class="twelve column copyright">&copy; 2017. Raleigh Little Theatre  |  Site design by <a href="http://newkind.com">New Kind</a></p>
    </nav>

</footer>