$columnWidth: 8.333;

.grid{ 
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    padding: 0;
    margin: -1rem;

    &.centered{
        margin-left: auto;
        margin-right: auto;
    }

    .grid{
        font-size: 0;
    }

    > .column{
        position: relative;
        display: inline-block;
        width: 6.25%;
        padding-left: 1rem;
        padding-right: 1rem;
        vertical-align: top;
        box-sizing: border-box;

        &[class *= "one column"]{    width: $columnWidth + %; }
        &[class *= "two column"]{    width: ($columnWidth * 2) + %; }
        &[class *= "three column"]{  width: ($columnWidth * 3) + %; }
        &[class *= "four column"]{   width: ($columnWidth * 4) + %; }
        &[class *= "five column"]{   width: ($columnWidth * 5) + %; }
        &[class *= "six column"]{    width: ($columnWidth * 6) + %; }
        &[class *= "seven column"]{  width: ($columnWidth * 7) + %; }
        &[class *= "eight column"]{  width: ($columnWidth * 8) + %; }
        &[class *= "nine column"]{   width: ($columnWidth * 9) + %; }
        &[class *= "ten column"]{    width: ($columnWidth * 10) + %; }
        &[class *= "eleven column"]{ width: ($columnWidth * 11) + %; }
        &[class *= "twelve column"]{ width: ($columnWidth * 12) + %; }

        &:not(.row){
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }

}

@media screen and (max-width: 600px){

    .grid{
        margin: 0 -1rem;
    }
    
    .grid > .column{
        &[class *= "one column"]{    width: 100%; }
        &[class *= "two column"]{    width: 100%; }
        &[class *= "three column"]{  width: 100%; }
        &[class *= "four column"]{   width: 100%; }
        &[class *= "five column"]{   width: 100%; }
        &[class *= "six column"]{    width: 100%; }
        &[class *= "seven column"]{  width: 100%; }
        &[class *= "eight column"]{  width: 100%; }
        &[class *= "nine column"]{   width: 100%; }
        &[class *= "ten column"]{    width: 100%; }
        &[class *= "eleven column"]{ width: 100%; }
        &[class *= "twelve column"]{ width: 100%; }
    }

}