{% extends "base.twig" %}

{% block content %}
    <div class="grid">
        <div class="one column">1</div>
        <div class="eleven column">11</div>
        <div class="seven column">7</div>
        <div class="five column">5</div>
    </div>
{% endblock %}