{% extends "base.twig" %}

{% block content %}
    <div class="grid">
    
        <div class="twelve column promo">
            <header>
                <h3 class="title">A Charlie Brown Christmas / Jingle Bell Jukebox</h3>
                <p class="meta dates">Oct 28 &ndash; Nov 13</p>
            </header>
        </div>

        <div class="six column promo">
            <header>
                <h3 class="title">Cinderella</h3>
                <p class="meta dates">Dec 2 &ndash; Dec 18</p>
            </header>
        </div>

        <div class="six column promo">
            <header>
                <h3 class="title">Mother &amp; Sons</h3>
                <p class="meta dates">Sep 23 &ndash; Oct 9</p>
            </header>
        </div>

    </div>
    
    <div class="grid frames">

        <div class="four column frame">
            <header>
                <h3 class="title">Educating all ages</h3>
            </header>
            <a href="#" class="button">Classes</a>
        </div>

        <div class="four column frame">
            <header>
                <h3 class="title">Share the stage</h3>
            </header>
            <a href="#" class="button">Get Involved</a>
        </div>

        <div class="four column frame">
            <header>
                <h3 class="title">More than just a theater</h3>
            </header>
            <a href="#" class="button">Visit Us</a>
        </div>

    </div>

    <div class="grid bulletin">
    
        <div class="twelve column primary">

            <header>
                <p class="eyebrow">Our Mission</p>
                <h2 class="title">Using theater to enrich, educate, entertain, and engage for over 75 years</h2>
            </header>

            <a href="#" class="button">About Us</a>

        </div>

        <div class="twelve column secondary">

            <header>
                <p class="eyebrow">A Little Can Go a Long Way</p>
                <h2 class="title">Support the Raleigh Little Theatre Community</h2>
            </header>

            <a href="#" class="button">Donate</a>

        </div>

        <div class="six column feed">
            <header>
                <p class="eyebrow">Recent News</p>
            </header>
            <article>
                <h3 class="title">Callbacks for The Whipping Man</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit non ipsum finibus feugiat. 
                Aenean at sollicitudin tortor. Aliquam risus libero, condimentum at sapien.</p>
            </article>
            <article>
                <h3 class="title">Callbacks for The Whipping Man</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit non ipsum finibus feugiat. 
                Aenean at sollicitudin tortor. Aliquam risus libero, condimentum at sapien.</p>
            </article>
            <article>
                <h3 class="title">Callbacks for The Whipping Man</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit non ipsum finibus feugiat. 
                Aenean at sollicitudin tortor. Aliquam risus libero, condimentum at sapien.</p>
            </article>
            <article>
                <h3 class="title">Callbacks for The Whipping Man</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit non ipsum finibus feugiat. 
                Aenean at sollicitudin tortor. Aliquam risus libero, condimentum at sapien.</p>
            </article>

            <a href="#" class="button">More News</a>
        </div>

    </div>



{% endblock %}