{% extends "base.twig" %}

{% block content %}
<main id="visit-us">
    <div class="page-header bg-lawn-green">
        <h1>Visit Us</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>

    <div class="grid frames">

        <div class="four column frame blue">
            <header>
                <h3 class="title">Contact</h3>
            </header>
            <div class="buttons centered">
                <a href="#" class="inverse button">Button</a>
            </div>
        </div>

        <div class="four column frame purple">
            <header>
                <h3 class="title">Rose Garden</h3>
            </header>
            <div class="buttons centered">
                <a href="#" class="inverse button">Button</a>
            </div>
        </div>

        <div class="four column frame green">
            <header>
                <h3 class="title">Accessibility</h3>
            </header>
            <div class="buttons centered">
                <a href="#" class="inverse button">Button</a>
            </div>
        </div>

        <div class="four column frame maroon">
            <header>
                <h3 class="title">Office Hours</h3>
            </header>
            <div class="buttons centered">
                <a href="#" class="inverse button">Button</a>
            </div>
        </div>

        <div class="four column frame black">
            <header>
                <h3 class="title">Maps &amp; Directions</h3>
            </header>
            <div class="buttons centered">
                <a href="#" class="inverse button">Button</a>
            </div>
        </div>

        <div class="four column frame red">
            <header>
                <h3 class="title">Seating Charts</h3>
            </header>
            <div class="buttons centered">
                <a href="#" class="inverse button">Button</a>
            </div>
        </div>

    </div>

    <div class="grid bulletin">
    
        <div class="primary bg-rose-purple">

            <header>
                <p class="eyebrow">Eyebrow Text</p>
                <h2 class="title quote">Primary Call to Action</h2>
            </header>

            {#<div class="buttons centered">#}
                <a href="#" class="inverse button ">Button Text</a>
            {#</div>#}

        </div>

        <div class="secondary bg-breeze-blue">

            <header>
                <p class="eyebrow">A Little Can Go a Long Way</p>
                <h2 class="title quote">Secondary Call to Action</h2>
            </header>

            {#<div class="buttons centered">#}
                <a href="#" class="inverse button">Button Text</a>
            {#</div>#}

        </div>

        <div class="feed">
            <header>
                <p class="eyebrow has-squiggle"><span class="bg-cool-grey">Link List</span></p>
            </header>
            <article>
                <h6 class="title"><a href="#">Link text here</a></h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit non ipsum finibus feugiat. 
                Aenean at sollicitudin tortor. Aliquam risus libero, condimentum at sapien.</p>
            </article>
            <article>
                <h6 class="title"><a href="#">Link text here</a></h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit non ipsum finibus feugiat. 
                Aenean at sollicitudin tortor. Aliquam risus libero, condimentum at sapien.</p>
            </article>
            <article>
                <h6 class="title"><a href="#">Link text here</a></h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit non ipsum finibus feugiat. 
                Aenean at sollicitudin tortor. Aliquam risus libero, condimentum at sapien.</p>
            </article>
            <article>
                <h6 class="title"><a href="#">Link text here</a></h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit non ipsum finibus feugiat. 
                Aenean at sollicitudin tortor. Aliquam risus libero, condimentum at sapien.</p>
            </article>
            <article>
                <h6 class="title"><a href="#">Link text here</a></h6>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit non ipsum finibus feugiat. 
                Aenean at sollicitudin tortor. Aliquam risus libero, condimentum at sapien.</p>
            </article>
        </div>

    </div><!--.bulletin-->
</main>
{% endblock %}