{% extends "base.twig" %}

{% block content %}
    
    <main id="contact">

        <h1>Contact</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, possimus officiis aut odit voluptatibus iusto expedita tempore incidunt quod voluptates obcaecati asperiores sit sapiente, vel id aliquam doloribus tempora illo!</p>

        {# dynamic content#}

    </main>

{% endblock content %}