{% extends "base.twig" %}

{% block content %}
    
    <main id="donate">

        <h1>Donate to RLT</h1>

        <p>You can help bring the magic of theater to over 40,000 people each year. Make a sustaining contribution to support the continued growth and success of Raleigh Little Theatre! Our sustainers support us each month or each quarter.</p>

        {# dynamic content#}

    </main>

{% endblock content %}