{% extends "base.twig" %}

{% block content %}
<main id="{{ post.slug }}">
    <div class="page-header bg-deep-maroon">
        <h1>{{ post.title }}</h1>
        {{ post.content }}
    </div>

    {% include 'partials/list-with-images.twig' %}

    {% set ctaColors = {
        'primary': "rose-purple",
        'secondary': "deep-maroon"
        }
    %}

    {% include 'partials/bulletin.twig' with ctaColors %}

</main>
{% endblock %}