{% extends "base.twig" %}

{% block content %}
    
    <main id="memberships">

        <h1>Memberships</h1>

        <p>Join us as a member for the 2017 season!</p>

        <p>Download a <strong>season calendar and show summary</strong>(PDF)</p>

        <p>click the links below to order your membership online. You can also order a membership by dowloading our <strong>membership order form</strong>(PDF) and sending it in.</p>

        {# interactive widget goes here #}

        {# end widget #}

        <p>Please call the cox office on 919-821-3111 for assidtance purchasing a Sutton Series or City Series package</p>

        <h3>Benefits</h3>

        <p>Becoming a member is a great to see shows at RLT! Benefits of being a member include:</p>

        <ul>
            <li>Buy your ticets at lower price than buying them individually</li>
            <li>Buy your tickets in advance so that you miss out in the popular show dates</li>
            <li>Get the best seats available</li>
            <li>Changing your tickets for a different say is an easy call to the box office and is no charge to you (starting August)</li>
            <li>$6 off tickets to Cinderella</li>
            <li>Support RLT</li>
        </ul>

    </main>

{% endblock content %}