{% extends "base.twig" %}

{% block content %}
<main id="our-staff">
    <div class="page-header bg-rose-purple">
        <h1>Our Staff</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>

    
    <section class="prod-staff">

        <h5>Production Staff</h5>
        <div class="list with-images grid">
            <div class="list-item">
                <div class="image"></div>
                <div class="content">
                    <h3>Charles Phaneuf</h3>
                    <p class="meta">Executive Director</p>
                </div>
            </div>
            <div class="list-item">
                <div class="image"></div>
                <div class="content">
                    <h3>Charles Phaneuf</h3>
                    <p class="meta">Executive Director</p>
                </div>
            </div>
            <div class="list-item">
                <div class="image"></div>
                <div class="content">
                    <h3>Charles Phaneuf</h3>
                    <p class="meta">Executive Director</p>
                </div>
            </div>
            <div class="list-item">
                <div class="image"></div>
                <div class="content">
                    <h3>Charles Phaneuf</h3>
                    <p class="meta">Executive Director</p>
                </div>
            </div>
            <div class="list-item">
                <div class="image"></div>
                <div class="content">
                    <h3>Charles Phaneuf</h3>
                    <p class="meta">Executive Director</p>
                </div>
            </div>
            <div class="list-item">
                <div class="image"></div>
                <div class="content">
                    <h3>Charles Phaneuf</h3>
                    <p class="meta">Executive Director</p>
                </div>
            </div>
            <div class="list-item">
                <div class="image"></div>
                <div class="content">
                    <h3>Charles Phaneuf</h3>
                    <p class="meta">Executive Director</p>
                </div>
            </div>
            <div class="list-item">
                <div class="image"></div>
                <div class="content">
                    <h3>Charles Phaneuf</h3>
                    <p class="meta">Executive Director</p>
                </div>
            </div>
        </div>

    </section>

    <section class="board">
        
        <h5>Board of Directors</h5>
        <div class="list with-images grid">
            <div class="list-item">
                <div class="image"></div>
                <div class="content">
                    <h3>Charles Phaneuf</h3>
                    <p class="meta">Executive Director</p>
                </div>
            </div>
            <div class="list-item">
                <div class="image"></div>
                <div class="content">
                    <h3>Charles Phaneuf</h3>
                    <p class="meta">Executive Director</p>
                </div>
            </div>
            <div class="list-item">
                <div class="image"></div>
                <div class="content">
                    <h3>Charles Phaneuf</h3>
                    <p class="meta">Executive Director</p>
                </div>
            </div>
            <div class="list-item">
                <div class="image"></div>
                <div class="content">
                    <h3>Charles Phaneuf</h3>
                    <p class="meta">Executive Director</p>
                </div>
            </div>
            <div class="list-item">
                <div class="image"></div>
                <div class="content">
                    <h3>Charles Phaneuf</h3>
                    <p class="meta">Executive Director</p>
                </div>
            </div>
            <div class="list-item">
                <div class="image"></div>
                <div class="content">
                    <h3>Charles Phaneuf</h3>
                    <p class="meta">Executive Director</p>
                </div>
            </div>
            <div class="list-item">
                <div class="image"></div>
                <div class="content">
                    <h3>Charles Phaneuf</h3>
                    <p class="meta">Executive Director</p>
                </div>
            </div>
            <div class="list-item">
                <div class="image"></div>
                <div class="content">
                    <h3>Charles Phaneuf</h3>
                    <p class="meta">Executive Director</p>
                </div>
            </div>
        </div>

    </section>

    <section class="Members">

        <h5>Members At Large</h5>
            <div class="list with-members">
                <div class="list names">
                <h6>John Doe</h6>
                <h6>John Doe</h6>
                <h6>John Doe</h6>
                <h6>John Doe</h6>
                <h6>John Doe</h6>
            </div>

            <div class="list names">
                <h6>John Doe</h6>
                <h6>John Doe</h6>
                <h6>John Doe</h6>
                <h6>John Doe</h6>
                <h6>John Doe</h6>
            </div>

            <div class="list names">
                <h6>John Doe</h6>
                <h6>John Doe</h6>
                <h6>John Doe</h6>
                <h6>John Doe</h6>
                <h6>John Doe</h6>
            </div>
        </div>

    </section>
    
</main>
{% endblock %}