{% extends "base.twig" %}

{% block content %}
<main id="shows-and-events">
    <div class="page-header bg-breeze-blue">
        <h1>Classes</h1>
        <p>The goal of RLT's Education Program is to provide high quality theatre arts instruction in a safe nurturing environment.</p>
        <p>RLT is dedicated to the belief that theatre training promotes self-esteem, builds confidence, stimulates creativity, sharpens communication skills, fosters an appreciation of team work, raises cultural awareness, celebrates diversity, encourages respect for self and others and lays the foundation for a lifelong love of the arts. The study of theatre not only trains students to be better actors, it inspires them to be better people.</p>
    </div>

    <div class="list with-images">
        <div class="list-item">
            <div class="image"></div>
            <div class="content">
                <h3>For Kids</h3>
                <p class="meta">Ages 4-12</p>
                <hr class="dash" />
                <p>Our kids classes focus on the process of creating theatre through fun, imaginative, nurturing, creative play and ensemble building.</p>
            </div>
        </div>
        <div class="list-item">
            <div class="image"></div>
            <div class="content">
                <h3>For Kids</h3>
                <p class="meta">Ages 4-12</p>
                <hr class="dash" />
                <p>Our kids classes focus on the process of creating theatre through fun, imaginative, nurturing, creative play and ensemble building.</p>
            </div>
        </div>
        <div class="list-item">
            <div class="image"></div>
            <div class="content">
                <h3>For Kids</h3>
                <p class="meta">Ages 4-12</p>
                <hr class="dash" />
                <p>Our kids classes focus on the process of creating theatre through fun, imaginative, nurturing, creative play and ensemble building.</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}