{% extends "base.twig" %}

{% block content %}

<div id="{{ post.title }}">
	<div class="page-header bg-breeze-blue">
		<h1>{{ post.title }}</h1>
	</div>
	<article class="dynamic-content page-content">
		{{ post.content }}
	</article>
</div>
    
	{% set ctaColors = {
        'primary': 'rose-purple', 
        'secondary' : 'breeze-blue' 
        }
    %}

    {% include 'partials/bulletin.twig' with ctaColors %}

{% endblock %}