{% extends "base.twig" %}

{% block content %}
<main id="shows-and-events">
    <div class="page-header bg-rose-purple">
        <h1>Shows &amp; Events</h1>
        <p>This is a Season of Discovery at Raleigh Little Theatre!</p>
        <p>Nine of the eleven shows, including all of the adult plays, will be produced for the first time in our 80 year history. We invite you to share in these stories that include characters ranging from a pioneering radio DJ, to a young girl who will do anything to fly, to a puppet looking for his place in the world. This season is full of opportunities to discover more about who we are.</p>
        <p>&ndash; Patrick Torres, Artistic Director</p>
    </div>

    <div class="list with-images">
        <div class="list-item">
            <div class="image"></div>
            <div class="content">
                <h5>Musical Comedy / Special Shows</h5>
                <h3>Cinderella</h3>
                <p class="meta">Dec 2 - Dec 18</p>
                <hr class="dash" />
                <p>This musical comedy is a holiday sugarplum for the whole family; just the right mixture of comedy and romance ot add the sparkle of magic to your holiday season.</p>
            </div>
        </div>

        <div class="list-item">
            <div class="image"></div>
            <div class="content">
                <h5>Musical Comedy / Special Shows</h5>
                <h3>Cinderella</h3>
                <p class="meta">Dec 2 - Dec 18</p>
                <hr class="dash" />
                <p>This musical comedy is a holiday sugarplum for the whole family; just the right mixture of comedy and romance ot add the sparkle of magic to your holiday season.</p>
            </div>
        </div>

        <div class="list-item">
            <div class="image"></div>
            <div class="content">
                <h5>Musical Comedy / Special Shows</h5>
                <h3>Cinderella</h3>
                <p class="meta">Dec 2 - Dec 18</p>
                <hr class="dash" />
                <p>This musical comedy is a holiday sugarplum for the whole family; just the right mixture of comedy and romance ot add the sparkle of magic to your holiday season.</p>
            </div>
        </div>

        <div class="list-item">
            <div class="image"></div>
            <div class="content">
                <h5>Musical Comedy / Special Shows</h5>
                <h3>Cinderella</h3>
                <p class="meta">Dec 2 - Dec 18</p>
                <hr class="dash" />
                <p>This musical comedy is a holiday sugarplum for the whole family; just the right mixture of comedy and romance ot add the sparkle of magic to your holiday season.</p>
            </div>
        </div>

        <div class="list-item">
            <div class="image"></div>
            <div class="content">
                <h5>Musical Comedy / Special Shows</h5>
                <h3>Cinderella</h3>
                <p class="meta">Dec 2 - Dec 18</p>
                <hr class="dash" />
                <p>This musical comedy is a holiday sugarplum for the whole family; just the right mixture of comedy and romance ot add the sparkle of magic to your holiday season.</p>
            </div>
        </div>

        <div class="list-item">
            <div class="image"></div>
            <div class="content">
                <h5>Musical Comedy / Special Shows</h5>
                <h3>Cinderella</h3>
                <p class="meta">Dec 2 - Dec 18</p>
                <hr class="dash" />
                <p>This musical comedy is a holiday sugarplum for the whole family; just the right mixture of comedy and romance ot add the sparkle of magic to your holiday season.</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}