{% extends "base.twig" %}

{% block content %}
    
    <main id="news">

        <h1>News</h1>

        {# Loop starts here #}

            <img src="" alt="">

            <h2>Headline Goes Here</h2>

            <h3 class="date">February 10, 2017 </h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur laboriosam eaque quidem. Consequatur modi totam, magni perferendis vitae quaerat amet, voluptas fugit necessitatibus, sit velit porro in repellendus facilis ipsa!</p>

        {# Loop Ends Here #}

    </main>

{% endblock content %}