.alert-banner{
    background: $summer_yellow;
    padding: .5em 2em;
    text-align: center;
    box-sizing: border-box;
    margin-top: 4em;
    margin-bottom: -60px;
}

.alert-banner-link{
    color: $off_black;

    &:hover{
        color: $rose_purple;
    }
}

@media screen and (min-width: 800px){
    .alert-banner{
        margin-top: 0;
        margin-bottom: 0;
    }
}