/*
** Name: _bulletin.scss
** Description: Bulletin module is located toward the bottom of all landing pages.
**              Includes 2 CTA's and a feed/list of links of some sort
** Related files: bulletin.module.ts
** Notes: Heights are dynamically set in bulletin.module.ts
** 
*/

.bulletin{
    position: relative;
    display: flex;
    flex-direction: column;

    > .primary{
        background: $bloom_red;
        padding: 2em 3em;
        padding-right: 60%;
        color: $white;
        height: 50%;
        box-sizing: border-box;
    }

    > .secondary{
        background: $rose_purple;
        padding: 2em 3em;
        padding-right: 60%;
        color: $white;
        height: 50%;
        box-sizing: border-box;
    }

    > .feed{
        position: absolute;
        right: 0;
        top: 0;
        margin: 2em 3em;
        padding: 2em;
        background: $cool_grey;
        width: 50%;
        box-sizing: border-box;

        .eyebrow{
            color: $bloom_red;
            &:before{
                background: $bloom_red;
            }
        }

        article{
            margin-left: 1.75em;
            margin-right: 1.75em;
        }

        article + article{
            margin-top: 2em;
        }

        .button{
            margin-left: 1.75em;
        }
    }

    .eyebrow{
        text-transform: uppercase;
        margin-bottom: 1.5em;

        &:before{
            content: '';
            display: inline-block;
            width: .75em;
            height: .75em;
            background: $white;
            margin-right: 1em;
        }
    }

    .button{
        margin-top: 2em;
    }

}
