/*
** Name: _bulletin.scss
** Description: Bulletin module is located toward the bottom of all landing pages.
**              Includes 2 CTA's and a feed/list of links of some sort
** Related files: bulletin.module.ts
** Notes: Heights are dynamically set in bulletin.module.ts
** 
*/

.bulletin{

    > .primary, > .secondary{
        padding: 2em 3em;
        color: $white;
        box-sizing: border-box;
    }

    > .primary{
        background: $bloom_red;
    }

    > .secondary{
        background: $rose_purple;
    }

    > .feed{
        padding: 2em 3em;
        background: $cool_grey;

            .eyebrow{
                color: $bloom_red;
                &:before{
                    background: $bloom_red;
                }
            }

            article + article{
                margin-top: 2em;
            }
    }

    .button{
        margin-top: 2em;
    }   

    .eyebrow{
        text-transform: uppercase;
        margin-bottom: 1.5em;   

        &:before{
            content: '';
            display: inline-block;
            width: .75em;
            height: .75em;
            background: $white;
            margin-right: 1em;
        }
    }
}

@media screen and (min-width: 800px){

    .bulletin{
        position: relative;
        display: flex;
        flex-direction: column;

        > .primary, > .secondary{
            padding-right: 60%;
            height: 50%;
        }

        > .feed{
            position: absolute;
            right: 0;
            top: 0;
            margin: 2em 3em;
            width: 50%;
            box-sizing: border-box;

            article{
                margin-left: 1.75em;
                margin-right: 1.75em;
            }

            .button{
                margin-left: 1.75em;
            }
        }

    }

}


