// Button Styles that need to be changed


.button{
    // font-weight: bold;
    font-family: "Apercu Bold";
    font-size: .9em;
    background-color: $cool_grey;
    color: $bloom_red;
    display: inline-block;
    padding: 1em 1.5em;
    border: 5px solid $bloom_red;
    letter-spacing: 1px;
    text-decoration: none;
    
    &:hover{
      transition: background-color 0.4s ease;
      color: $cool_grey;
      background-color: $bloom_red;
    }

    &.inverse{
      border: 5px solid $cool_grey;

    }
} 


// ———————————————————————————————————————————————————————
// Form styles that need to be changed
// ———————————————————————————————————————————————————————

form{
  margin: 20px; /* test values */
}

input{
  border: 1px solid $off_black;
  height: 25px; /* test values */
  width: 400px; /* test values */
  padding: 10px; /* test values */
  padding-left: 20px; /* test values */
  font-size: 18px; /* test values */
}

input[type=text]:focus{
  outline: none;
}

#required{
  border: 5px solid $bloom_red;
  height: 25px; /* test values */
  width: 400px; /* test values */
  padding: 10px; /* test values */
  padding-left: 20px; /* test values */
  font-size: 18px; /* test values */
}