.frames{
    margin: 4em 8em!important;
}

.frame{
    background: url('http://placehold.it/600x600') no-repeat center;
    background-size: cover;
    min-height: 300px;
    position: relative;
    
    &:before{
        content: '';
        width: 1em;
        height: 100%;
        background: $breeze_blue;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
    }

    header{
        font-family: Helvetica;
        font-weight: 400;
        background:$breeze_blue;
        color: #fff;
        padding: 2em;
        text-align: left;
        display: inline-block;
    }

    .buttons{
        position: absolute;
        bottom: 1em;
        width: 100%;
        display: block;
    }

}