.site-header{
    height: 150px;

    .logo{
        background: url('http://placehold.it/200x100') no-repeat center;
        background-position: contain;
        text-indent: -9999em;
        display: block;
        width: 200px;
        height: 100px;
        float: left;
        padding: 1em;
    }

    .primary-nav{
        float: right;
        padding-top: 5em;
        padding-right: 2em;

        ul li{
            font-family: helvetica;
            display: inline-block;
            

            a{
                color: $bloom_red;
                margin-left: 1em;
                text-decoration: none;
                &:hover{
                    transition: opacity 0.4s ease;
                    opacity: 0.6
                }
            }
        }

    }

    .utility-nav{
        position: absolute;
        top: 2em;
        right: 2em;

        ul li{
            display: inline-block;
            font-family: helvetica;

            a{
               color: $deep_maroon;
               text-decoration: none;
               &:hover{
                    transition: opacity 0.4s ease;
                    opacity: 0.6
                }
            }

            & + li {
                margin-left: 1em;
                border-left: 1px solid purple;
                padding-left: 1em;
            }
        }
    }

}