.site-header{
    height: 150px;
    background: $cool_grey;
    width: 100vw;
    display: block;
    position: fixed;
    z-index: 9998;
    height: 60px;;
    top: 0;

    .logo{
        background: url('../../assets/RLT_logo_header.svg') no-repeat center;
        background-size: contain;
        text-indent: -9999em;
        display: block;
        width: 60px;
        height: 30px;
        padding: 1em;
        top: 0;
        left: 1em;
        position: relative;
        z-index: 9999;
    }

    .primary-nav, .utility-nav{
        position: static;
        margin: 2em 0;

        ul li{
                font-family: "Apercu Bold";
                line-height: 1.2em;
            a{
                display: block;
                padding: .5em 2em;
            }

            + li{
                border-top: 1px solid $mid_grey;
            }
        }
    }

    .toggle-nav{
        position: absolute;
        top: 1em;
        right: 1em;
        width: 30px;
        height: 30px;
        background: $bloom_red;
        text-indent: -9999em;
    }

    .utility-nav a{
        color: $rose_purple;
    }

    .nav-wrapper{
        position: fixed;
        padding-top: 60px;
        height: 100vh;
        width: 100vw;
        top: 0;
        right: -100vw;
        background: $cool_grey;
        transition: right .3s;

        &.do-show{
            right: 0;
        }
    }

}

main{
    margin-top: 60px;
}

@media screen and (min-width: 800px){

    .site-header{
        background: none;
        height: auto;
        width: auto;
        position: static;

        .logo{
            height: 100px;
            width: 200px;
            background-size: auto;
            float: left;
        }

        .nav-wrapper{
            position: static;
            height: auto;
            width: auto;
            padding: 0;
        }

        .primary-nav, .utility-nav{
            margin: 0;
            
            ul li{

                a{
                    padding: 0;
                }
                + li{
                    border: none;
                }
            }
        }

        .primary-nav{
            float: right;
            padding-top: 5em;
            padding-right: 2em;

            ul li{
                display: inline-block;

                a{
                    margin-left: 1em;
                }
            }

        }

        .utility-nav{
            position: absolute;
            top: 2em;
            right: 2em;

            ul li{
                display: inline-block;
                font-size: .9em;

                a{

                   &:hover{
                        transition: opacity 0.4s ease;
                        opacity: 0.6
                    }
                }

                & + li {
                    margin-left: 1em;
                    border-left: 1px solid $rose_purple;
                    padding-left: 1em;
                }
            }
        }
    }     

    main{ margin-top: 0; }  
}       
