/*
** Lists & List Variations
*/

.list{

    &.with-images{
        
        .list-item{
            position: relative;
            display: flex;
            flex-direction: column;

            .image{
                width: 100%;
                padding-top: 50%;
                background: url('http://placehold.it/800x600') center no-repeat;
                background-size: cover;
                transition: opacity .5s;

                &:hover{
                    opacity: .92;
                }
            }

            .content{
                padding: 4em;
                position: relative;
                overflow-x: hidden;

                &:after{
                    content: '';
                    height: 1px;
                    background: $rose_purple;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    left: 4em;
                }

                *{
                    max-width: 600px;
                }
            }

            &:last-child{
                .content{
                    &:after{
                        content: none;
                    }
                }
            }

        }

    }

    &.grid{
            padding: 4em;

            .list-item{
                display: inline-block;
                width: 47.5%;
                margin: 0 5% 5% 0;

                &:nth-child(even){
                    margin-right: 0;
                }

                .image{
                    width: 100%;
                    padding-top: 100%;
                    background: url('http://placehold.it/300x300') center no-repeat;
                    background-size: cover;
                    box-sizing: content-box;
                    position: relative;

                    &:before{
                        content: '';
                        display: block;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        left: -1em;
                        top: -1em;
                        padding-right: 1em;
                        background: $mid_grey;
                        z-index: -1;
                    }
                }

                .content{
                    margin: 2em 0 0;
                    border: none;
                }
            }


}

}

@media screen and (min-width: 600px){

    .list{
        &.with-images{

            .list-item{
                flex-direction: row;

                h5{ color: $rose_purple; }
                h3{ color: $bloom_red; }

                .image{
                    height: auto;
                    padding-top: 30%;
                    flex: 0 0 50%;
                }

                .content{
                    flex: 0 0 50%;
                    box-sizing: border-box;
                }
            }
        }

        &.grid{
                .list-item{
                    width: 30%;

                    &:nth-child(even){
                        margin-right: auto;
                    }

                    &:nth-child(3n){
                        margin-right: 0;
                    }
                }
            }
    }
}

@media screen and (min-width: 800px){

    .list{

            &.grid{

                .list-item{
                    width: 23.05%;
                    margin: 0 2.5% 2.5% 0;

                    &:nth-child(3n){
                        margin-right: 2.5%;
                    }

                    &:nth-child(4n){
                        margin: 0;
                    }
                }
            
        }
    }

}

@media screen and (min-width: 1200px){
    .list{
        &.grid{
            .list-item{
                width: 18%;

                &:nth-child(4n){
                    margin-right: 2.5%;
                }

                &:nth-child(5n){
                    margin-right: 0;
                }
            }
        }
    }
}