/*
** COMPONENTS THAT EXIST FOR PAGE LAYOUTS
*/

.page-header{
    padding: 2em;
    @extend .color-cool-grey;
    
    h1, h2, h3, h4{
        + p{
            margin-top: 2em;
        }
    }

    p{
        max-width: 800px;
    }
}

.page-content{
    padding: 1em;
    margin: 0 auto;
}

.sponsors{
    padding: 4em;

    a{
        height: 100px;
        display: inline-block;
        width: 45%;
        margin: 2.5%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}

@media screen and (min-width: 400px){
    
    .sponsors{
        a{ width: 27%; }
    }

}

@media screen and (min-width: 800px){
    .page-header{
        padding: 4em;
    }
    .sponsors{
        a{ width: 20%; }
    }
}