.photo-gallery{
    position: relative;
    background: url('../../images/shows/cinderella.jpg') no-repeat center;
    background-size: cover;
    height: 40vw;
    display: block;

    span{
        font-family: "Apercu Bold";
        background: $bloom_red;
        color: $white;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity .5s;
        display: block;
        
        h2{
            position: absolute;
            top: 50%;
            margin-top: -.5em;
            text-align: center;
            width: 100%;
        }
    }

    &:hover{
        span{
            opacity: .85;
        }

        header{
            background: none!important;
        }
    }

    header{
        position: absolute;
        top: 2em;
        padding: 1em 2em;
        display: inline-block;
        z-index: 2;
        transition: background .5s;
    }

    div{
        display: none;
        /*background: url('../../images/shows/avenue_q.jpg') no-repeat center;
        background-size: cover;
        height: 33vw;

        &:nth-child(2n){
            background-image: url('../../images/shows/a_piece_of_my_heart.jpg');
        }

        &:nth-child(3n){
            background-image: url('../../images/shows/the_whipping_man.jpg');
        }*/
    }

}