.photo-gallery{

    height: 30vh;
    background: url('http://placehold.it/1600x800') center no-repeat;
    background-size: cover;

    header{
        padding: 1em 2em;
        margin-top: 2em;
        display: inline-block;
    }

}