.promo{
    background: url('http://placehold.it/800x600') no-repeat center;
    background-size: cover;
    min-height: 45vh;

    > header{
        padding: 1em 2em;
        margin-top: 1em;
        background: $bloom_red;
        color: $white;
        display: inline-block;
        max-width: 350px;

        .meta{
            margin-top: 1em;
        }
    }
}