.show-header{
    position: relative;

    .bg-image{
        background: url('../../images/shows/cinderella_cover.jpg') no-repeat center;
        height: 30vw;
        display: block;
        background-size: cover;
    }

    .show-navigation{
        position: absolute;
        top: 2em;
        width: 100%;

        .prev{
            position: absolute;
            left: 0;
        }

        .next{
            position: absolute;
            right: 0;
        }
    }

    .content{
        padding: 4em 4em 0;
        position: relative;

        
        .dash{
            margin-top: 2.5em;
        }
    }

}

.cast-list dl{
        margin-top: .5em;
}

.show-content{
    padding: 0 4em 4em;

        h4 + p{
            margin-top: 1.5em;
        }
}

#show{ 
    .grid{ margin-bottom: 0; }
    .spacer{ display: none; }   
    .promos{ flex-direction: row; } 
}

@media screen and (min-width: 600px){

    #show{
        .spacer{
            display: block;
        }

        .promo{

            .promo-hover{
                    padding: 10em 2em 2em 3em;
            }
            &.next{
                > header{
                    position: absolute; 
                    right: 0; 
                    text-align: right;
                }
                .promo-hover{
                    text-align: right;
                    padding: 10em 3em 2em 2em;

                    p{
                        max-width: 500px;
                        display: inline-block;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 800px){

    .show-header{

        .button{
            position: absolute;
            top: 3.25em;
            left: 1rem;
        }
    }

    .cast-list{
        dl{
            width: 50%;
            float: left;
            
        }
    }


}
